<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://thinhmle.com/test_upload/images/bacmymarket/harp-seal-oil-88x66.png</string>
	<string>https://thinhmle.com/test_upload/images/bacmymarket/wild-alaskan-salmon-oil-88x66.png</string>
	<string>https://thinhmle.com/test_upload/images/bacmymarket/WN-wild-alaskan-salmon-oil-88x66.png</string>
</array>
</plist>
